html, body {
    height: 100%;
    margin: 0;
}

.login-main {
    background-image: url('../assets/images/login_background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    width: 728px;
    background-color: #fff;
    border-radius: 24px;
    padding: 0 100px;
    border: 1px solid rgba(38, 64, 93, 0.25);
}
.login-content-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 64px;
    font-weight: 900;
}
.separator {
    width: 1px;
    height: 286px; 
    background-color: #D9D9D9; 
}
.login-content-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-content-right h2 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 35px;
}
.login-content-right ul {
    list-style: none;
    padding: 0;
}
.login-content-right li img {
    width: 256px;
    height: 48px;
    cursor: pointer;
}
.login-content-right #mailBtn {
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    color: #626262;
    margin-top: 10px;
}

@media screen and (max-width: 900px) {
    .login-main {
        background-image: none;
        background-color: #fff;
    }
    .separator {
        display: none;
    }
    .login-content {
        flex-direction: column;
        height: 512px;
        border: none;
        padding: 0;
    }
    .login-content-right h2 {
        display: none;
    }
}