
.register-main {
    background-image: url('../assets/images/login_background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    width: 728px;
    background-color: #fff;
    border-radius: 24px;
    padding: 0 100px;
    border: 1px solid rgba(38, 64, 93, 0.25);
}


/* register-content-left */
.register-content-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.register-content-left .guide h2 {
    font-size: 14px;
    font-weight: 500;
    color: #001832;
    margin: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.register-content-left .guide h2.active {
    opacity: 1;
}
.register-content-left .guide{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.register-content-left .guide1{
    left: 0%;
    flex: 1;
    text-align: left;
}
.register-content-left .guide2{
    left:50%;
    flex: 1;
    text-align: center;
}
.register-content-left .guide3{
    left: 100%;
    flex: 1;
    text-align: right;
}
.register-content-left .title {
    font-size: 64px;
    font-weight: 900;
    display: flex;
    flex-direction: column;
}


/* register-content-left steps */
.steps {
    position: relative;
    width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 20px;
}
.step {
    width: 19px;
    height: 19px;
    background: #F0F1F3;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.step.active {
    background: #000;
}
.step .step-number {
    font-size: 12px;
    color: #626262;
}
.step.active .step-number {
    color: #fff;
}
.steps::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 2px;
    background: transparent;
    border-top: 1px dashed #F0F1F3;
    z-index: 0;
}
.steps::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 2px;
    background: transparent;
    border-top: 1px dashed #001832;
    z-index: 1;
    width: 0;
    transition: width 0.3s ease;
}
.step:nth-child(1) {
    left: 0%;
}
.step:nth-child(2) {
    left: 50%;
    transform: translateX(-50%);
}
.step:nth-child(3) {
    right: 0;
}
.steps[data-active="1"]::after {
    width: 0%;
}
.steps[data-active="2"]::after {
    width: 50%;
}
.steps[data-active="3"]::after {
    width: 100%;
}


.separator {
    width: 1px;
    height: 286px; 
    background-color: #D9D9D9; 
}


/* register-content-right step1*/
.register-content-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 256px;
}
.register-content-right .content-step1 {
    width: 100%;
}
.register-content-right .input-wrapper {
    background-color: #F0F1F3;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 20px; 
    display: flex;
    flex-direction: column;
    gap:5px;
    font-size: 12px;
    width: 100%;
}
.register-content-right .input-wrapper input{
    border: none;
    background-color: transparent;
    font-size: 14px;
    color: #000;
    outline: none;
}
.register-content-right .input-wrapper input::placeholder{
    color: #444444;
}
.register-content-right .next-btn {
    background-color: #D9D9D9;
    color: #626262;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 296px;
}
.register-content-right .next-btn.active {
    background-color: #001832;
    color: #fff;
}

/* register-content-right step2*/
.content-step2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px
}
.agree-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #626262;
    font-weight: 400;
    padding: 12px;
    border-radius: 10px;
    border: solid 1px #D9D9D9;
    margin-bottom: 20px;
    width: 90%;
}
.agree-box.active {
    border: solid 1px #001832;
    color: #001832;
}
.agree-box input[type="checkbox"] {
    display: none;
}
.agree-box label {
    display: flex;
    align-items: center;
}
.agree-box img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.information-box-content {
    margin-bottom: 30px;
}
.information-box-content p{
    color: #000;
    font-size: 14px;
    margin: 0;
}
.info-table {
    margin: 10px 0;
    color: #626262;
    font-size: 10px;
    border-collapse: collapse;
}
.info-table th, tr, td {
    border: 1px solid #E6E8EB;
    font-weight: 400;
}
.info-table th {
    background-color: #F1F2F4;
    padding: 5px;
    text-align: center;
}
.info-table th:nth-child(1){
    width: 33%;
}
.info-table th:nth-child(2){
    width: 33%;
}
.info-table th:nth-child(3){
    width: 34%;
}
.info-table td {
    padding: 5px 8px;
}

@media screen and (max-width: 900px) {
    .register-main {
        background-image: none;
        background-color: #fff;
    }

    .register-content {
        flex-direction: column;
        height: 100%;
        max-height: 760px;
        max-width: 342px;
        border: none;
        box-shadow: none;
        padding: 0;
    }
    .register-content-left {
        width: 100%;
        align-items: flex-start;
        margin-bottom: 20px;
        order: -1;
    }

    .register-content-left .guide {
        order: 2;
        margin: 0;
        margin-top: 20px;
    }

    .register-content-left .title {
        font-size: 36px;
        line-height: 1.2;
        margin-bottom: 20px;
        order: 1;
    }

    .steps {
        width: 100%;
        margin: 20px 0;
        order: 3;
        margin-bottom: 60px;
    }

    .separator {
        display: none;
    }

    .register-content-right {
        width: 100%;
        flex: 1;
    }
    .register-content-right .content-step1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    .register-content-right .input-wrapper {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 7px;
    }
    .register-content-right .btn-wrapper {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
    }
    .register-content-right .next-btn {
        width: 100%;
    }
    .content-step2 {
        flex: 1;
        width: 100%;
    }
    .content-step2 .agree-box{
        order: 2;
    }
    .content-step2 .information-box-content{
        order: 1;
    }
    .content-step2 .btn-wrapper{
        order: 3;
    }
}