.page {
  display: flex;
}

.aside-menu {
  width: 300px;
  height: 100dvh;
  background: #001832;
  border-radius: 0 30px 30px 0;
  flex: none;
  padding: 38px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aside-title {
  color: white;
  font-size: 24px;
  font-family: 'GmarketSansMedium', 'sans-serif';
  font-weight: 200;
  margin-top: 18px;
  margin-bottom: 54px;
}

.aside-user-info {
  padding: 10px 12px;
  background: #152A41;
  width: 100%;
  border-radius: 10px 12px 10px 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
}

.aside-user-info-icon {
  flex: none;
  width: 31px;
  height: 31px;
  aspect-ratio: 1;
}

.aside-user-info-content {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.aside-user-info-content > span {
  display: block;
}

.aside-id {
  font-weight: 500;
  font-size: 14px;
}

.aside-logout {
  font-size: 12px;
  font-weight: 300;
  cursor: pointer;
}